.BackIcon svg {
  width: 25px;
  height: 25px;
  padding: 15px;
}
.ProfileNavBar h3 {
  margin: 0;
  padding: 15px;
  font-size: 20px;
}
.ProfileNavBar {
  display: flex;
  position: fixed;
  width: 619px;
  z-index: 1;
  align-items: center;
  margin-left: 1px;
  background-color: rgb(255, 255, 255);
}
