.backToMainPage svg {
  width: 22px;
  height: 22px;
  padding: 10px;
}
.backToMainPage {
  display: flex;
  width: 100%;
}
.backToMainPageContainer {
  background-color: white;
  position: fixed;
  padding: 5px;
  width: 608px;
  border-left: 1px solid rgba(128, 128, 128, 0.192);
}
.backToMainPage h2 {
  margin: 0;
  font-size: 20px;
  padding: 7px;
}
