.MenuBar {
  width: 150px;
  border-right: 1px solid rgba(128, 128, 128, 0.192);
  position: fixed;
}
.feather div {
  background-color: rgb(29, 155, 240) !important;
  border-radius: 50%;
  margin-top: 5px;
}
.MenuBar ul {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-left: 55%;
}
.panel {
  display: flex;
}
.menuBar {
  display: none;
}
.menuBar li {
  list-style: none;
}
.MenuBar li {
  width: 100%;
}
.MenuBar li .icon:hover {
  background-color: rgba(128, 128, 128, 0.131);
}
.Notification {
  position: relative;
}
.Notification p {
  margin: 0;
  position: absolute;
  color: white;
  top: 5px;
  right: 7px;
  padding: 2px 9px;
  background-color: rgb(29, 155, 240);
  border-radius: 30px;
  font-size: 12px;
}
.MenuBar li .icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  padding: 13px;
  border-radius: 50%;
}
.profile {
  padding: 0% !important;
  margin-top: 70px;
  border-radius: 50%;
}
.profile img:hover {
  background-color: rgba(128, 128, 128, 0.131);
}
.profile img {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
}
