.OpenFeed {
  padding: 70px 20px 0px 20px;
}
.OpenFeedDetails img {
  width: 100%;
  border-radius: 10px;
}
.OpenFeedDetails p {
  font-size: 23px;
}
.OpenFeedProfileDetails {
  display: flex;
  align-items: center;
}
.OpenFeedProfileText {
  margin-left: 15px;
}
.OpenFeedProfileDetails h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}
.OpenFeedProfileDetails p {
  margin: 0;
  color: grey;
  font-size: 14px;
}
.OpenFeedProfileDetails img {
  width: 60px;
  height: 60px;
  /* margin-top: 15px; */
  border-radius: 50%;
  object-fit: cover;
}
.OpenFeed h2 {
  margin: 0;
}
.countContainer {
  display: flex;
  margin-top: 10px;
  align-items: center;
  /* border-top: 1px solid rgba(128, 128, 128, 0.192); */
  border-bottom: 1px solid rgba(128, 128, 128, 0.192);
}
.countContainerIndividual {
  display: flex;
  padding: 20px;
  align-items: baseline;
}
.countContainerIndividual p {
  margin: 0;
  margin-left: 5px;
  color: grey;
  font-size: 14px;
}
.countContainerIndividual h3 {
  margin: 0;
  font-size: 15px;
}
.openFeedTools {
  width: 100%;
  display: flex;
  margin: 10px 0px;
  align-items: center;
  justify-content: space-around;
}
.openFeedTools .comment {
  display: flex;
  align-items: center;
  fill: grey;
}
.openFeedTools .reTweet {
  display: flex;
  align-items: center;
  fill: grey;
}
.openFeedTools .likes {
  display: flex;
  align-items: center;
}

.openFeedTools .share {
  align-items: baseline;
  fill: grey;
}
.openFeedTools svg {
  width: 20px;
  height: 20px;
}
.openFeedTools p {
  margin: 0;
  padding: 0px 7px;
}
