.feedList {
  cursor: pointer;
  padding: 10px 35px 10px 20px;
  display: flex;
  visibility: visible;
  gap: 20px;
  border: 1px solid rgba(128, 128, 128, 0.121);
  transition: 0.5s;
}
.feedList:hover {
  background-color: rgba(128, 128, 128, 0.098);
}
.feedContainer {
  width: 100%;
}
.feedContainer img {
  width: 100%;
  border-radius: 10px;
}
.feedProfileDetails h3 {
  margin: 0;
  font-size: 17px;
}
.feedProfileImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.feedProfileDetails {
  display: flex;
  align-items: baseline;
}
.feedProfileDetails p {
  margin: 0;
  margin-left: 5px;
  font-size: 16px;
  color: grey;
}

.tools {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  max-width: 425px;
}
.tools p {
  margin: 0;
  padding: 0px;
  padding-left: 5px;
  color: rgb(100, 100, 100);
  font-family: Arial, Helvetica, sans-serif;
}

.comment {
  display: flex;
  align-items: center;
  fill: grey;
  cursor: pointer;
}
.comment svg {
  padding: 10px 10px;
  border-radius: 50%;
}
.comment:hover svg {
  fill: rgb(46, 177, 230);
  background-color: rgba(135, 207, 235, 0.374);
  transition: 0.3s;
}
.comment:hover p {
  color: rgb(46, 177, 230);
}
.reTweet {
  display: flex;
  align-items: center;
  fill: grey;
}

.reTweet svg {
  padding: 10px 10px;
  border-radius: 50%;
}

.reTweet:hover svg {
  background-color: rgba(144, 238, 144, 0.304);
  transition: 0.3s;
  fill: rgb(31, 163, 31);
}

.reTweet:hover p {
  color: rgb(31, 163, 31);
}

.likes {
  display: flex;
  align-items: center;
}
.likes svg {
  padding: 10px 10px;
  border-radius: 50%;
}
.likes:hover svg {
  fill: red;
  background-color: rgba(255, 0, 81, 0.126);
  transition: 0.3s;
}
.likes:hover p {
  color: red;
}
.share {
  align-items: baseline;
  fill: grey;
  border-radius: 35px;
  padding: 7px 10px;
}
.tools svg {
  width: 20px;
  height: 20px;
}
.phoneView {
  display: none;
  padding-top: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.106);
}
.phoneView:hover {
  background-color: rgba(128, 128, 128, 0.113);
}
.feedDetails {
  display: flex;
  gap: 13px;
  margin: 0px 15px;
  align-items: center;
}
.feedPhone img {
  width: 99%;
  margin: 2px;
}
.feedPhone p {
  margin: 0;
  margin: 13px 15px;
}
.feedPhone .tools {
  margin: 0px 10px;
}
