.commentListProfileImg img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.commentListMainContainer {
  display: flex;
}
.commentListProfile {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  align-items: center;
}
.commentListProfile p {
  margin: 0;
  color: grey;
  font-size: 14px;
  padding-left: 5px;
}
.commentListProfile h4 {
  margin: 0;
  font-size: 17px;
}
.commentListContainer li {
  list-style: none;
  padding: 5px 20px;
  /* border: 1px solid rgba(128, 128, 128, 0.192); */
}
.commentListDescription {
  padding: 0px 10px;
}
.commentListDescription p {
  margin: 0;
}
.commentReplyedTo h5 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: rgb(29, 155, 240);
}
.commentReplyedTo p {
  margin: 0;
  padding: 5px 5px 5px 10px;
  font-size: 14px;
  color: grey;
}
.commentReplyedTo {
  display: flex;
  align-items: center;
}
#ThreadDisplay {
  display: block;
  background-color: rgba(128, 128, 128, 0.518);
  height: 100%;
  margin: 0px 29px;
}
